body {
    font-family: 'DM Mono', monospace;
}

canvas {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    padding-left: 10px;
}

a {
    color: cornflowerblue;
}

p {
    margin-bottom: 2.5vh;
}

h1 {
    margin: 0;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.flex-item {
    -webkit-flex: none;
    flex: none;
}

.main {
    padding-left: 25px;
    max-width: 35vw;
}

.skill {
    font-size: x-small;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
    display: inline-flex;
}

.social-icon {
    height: 4%;
    margin-bottom: 5vh;
}