body {
    font-family: 'DM Mono', monospace;
    margin: 0;
    overflow: hidden;
}

canvas {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 100%;
    width: 100%;
}

a {
    color: cornflowerblue;
}

p {
    margin-bottom: 2.5vh;
}

h1 {
    margin: 0;
}

.perlin {
    width: 50%;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 100%;
}

.flex-item {
    -webkit-flex: none;
    flex: none;
    overflow: auto;
}

.main {
    padding: 15px;
    padding-top: 5px;
    max-width: 50vw;
}

.subtitle {
    margin-bottom: 5vh;
}

.title-break {
    margin-top: 7vh;
}

.skill {
    font-size: x-small;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
    display: inline-flex;
}

.social-icon {
    height: 2vh;
}